.SearchGroop {
  display: flex;
  align-items: center;
  width: 43vw;

  .Logo {
    img {
      z-index: 5;
    }
    height: 100%;
    width: 100%;
  }

  .SearchFilter {
    z-index: 4;
    margin-right: 2vw;
    display: flex;
    justify-self: center;
    align-items: center;
  }

  .Search {
    width: 50vw;
    display: flex;
    justify-self: center;
    align-items: center;
    input {
      height: 25px;
      border-radius: 5%;
      border: solid gold 2px;
      font-size: 13px;
      outline: 0;
    }
  }

  .MuiButton-label {
    position: relative;
    display: flex;
    justify-self: center;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1 1 0%;
  }
  .Classes .MuiList-padding img {
    border: solid rgba(255, 217, 0, 0.8) 3px;
  }
  .MuiList-padding {
    margin-top: 0.6em;
    z-index: 1;
    overflow-y: hidden;
    min-height: auto;
    max-height: auto;
    scrollbar-color: transparent; /* Optional: just make scrollbar invisible */
    scrollbar-width: none;
    filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 3px 3px);
    border: solid rgba(50, 30, 20, 0.8) 3px;
    img {
      border-radius: 50%;
      width: 1.5vw;
      margin-left: -0.1vw;
      margin-right: 0.3vw;
      white-space: normal;
      filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 5px 5px);
    }
  }
  .MuiButton-containedSizeSmall {
    z-index: 2;
    color: #fff;
    width: 3px;
    justify-content: space-between;
    margin-right: 12em;
    background-color: #1f243d;
    border: solid black 1px;
  }
}
