@import "../../styles/colors.scss";

.Container {
  width: 98vw;
  background-color: #b1785e;
  border: solid black 1px;

  .CardsList {
    width: 82vw;
    background-color: $color-background;
    border: solid black 1px;
    filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 3px 3px);
    transform: perspective(0px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    display: grid;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    grid-template-columns: repeat(6, 12fr);
    grid-gap: 0.5vw;
    padding: 2vw;
    margin: 2vw;
    justify-content: space-between;
    flex-direction: row;
    min-height: 12em;
    position: static;
  }

  .FilterWrapper {
    width: 90vw;
    z-index: 1;
    position: fixed;
    top: -0.35vw;
    margin-top: 0.2vw;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: space-between;
    background-color: #5a1414;
    border-radius: 1%;
    filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 3px 3px);
    border: solid rgba(50, 30, 20, 0.8) 2px;
  }
}
